body {
    font-family: Arial, 'Liberation Sans', 'DejaVu Sans', sans-serif;
    color: white;
    background-color: black;
}

body * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    user-select: none;
    cursor: default;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

h1 em {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: normal;
}

#panel, #boardDisplay, #loadIndicator, #tilesCanvas, #rubberBandCanvas {
    position: absolute;
}

#panel, #boardDisplay {
    display: none;
}

#boardsNavigator {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 2%;
}

#boardsNavigator canvas {
    display: inline-block;
    vertical-align: bottom;
}
