body {
    font-family: Arial, 'Liberation Sans', 'DejaVu Sans', sans-serif;
    color: white;
    background-color: black;
    position: relative;
}

body * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    user-select: none;
    cursor: default;
}

#panel, #display, #loadIndicator,
#tilesCanvas, #arrowCanvas, #rotAnimCanvas, #rubberBandCanvas {
    position: absolute;
}

#loadIndicator {
    display: none; /* hidden only until size is set */
}

#panel, #display {
    display: none;
}

h1 {
    display: block;
    width: 100%;
    height: 13%;
    padding-top: 2%;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

h1 em {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: normal;
}

#rotationsNavigator {
    width: 100%;
    height: 15%;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

#rotationsNavigator .button {
    cursor: pointer;
}

#rotationsNavigator .button.disabled {
    text-align: center;
    color: #777;
    cursor: default;
}

#hiscoresTable {
    width: 90%;
    font-size: 1.5em;
    margin: 0 5%;
    overflow: hidden;
}

#hiscoresTable td:last-child {
    text-align: right;
}

#boardsNavigator {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-bottom: 2%;
    overflow: hidden;
}

#boardsNavigator>* {
    cursor: pointer;
    position: absolute;
}
