* {
    cursor: default;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

html {
    background: black;
}

body {
    font-family: Arial, 'Liberation Sans', 'DejaVu Sans', sans-serif;
    color: white;
    background: black;
    position: relative;
}

.button {
    cursor: pointer;
}

.button.disabled {
    color: #777;
    cursor: default;
}

#title, #display, #boardsNavigator, #rotationsNavigator, #hiscoresTable,
#loadIndicator, #tilesCanvas, #arrowCanvas, #rotAnimCanvas, #rubberBandCanvas {
    position: absolute;
}

#loadIndicator {
    display: none; /* hidden only until size is set */
}

#display {
    display: none;
}

#title {
    font-weight: bold;
    text-align: center;
    display: none;
}

#title em {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: normal;
}

#rotationsNavigator {
    display: none;
    font-weight: bold;
    text-align: center;
}

#hiscoresTable {
    display: none;
    overflow: hidden;
    line-height: 110%;
}

#hiscoresTable td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#hiscoresTable td:first-child {
    text-align: left;
}

#hiscoresTable td:last-child {
    text-align: right;
}

#hiscoresTable tr.input {
    border-bottom: 0.2ex solid white;
}

#hiscoresTable td input {
    border: 0;
    margin: 0;
    padding: 0;
    background: transparent;
    color: white;
    cursor: text;
    font-size: 1em;
    width: 100%;

    -webkit-touch-callout: default;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    user-select: text;
}

#hiscoresTable td input:focus {
    outline-width: 0;
}

#hiscoresTable td span {
    font-weight: bold;
}

#boardsNavigator {
    display: none;
    position: absolute;
    overflow: hidden;
}

#boardsNavigator>* {
    cursor: pointer;
    position: absolute;
}
