//- Copyright 2012 Felix E. Klee <felix.klee@inka.de>
//-
//- Licensed under the Apache License, Version 2.0 (the "License"); you may not
//- use this file except in compliance with the License. You may obtain a copy
//- of the License at
//-
//-   http://www.apache.org/licenses/LICENSE-2.0
//-
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
//- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
//- License for the specific language governing permissions and limitations
//- under the License.

!!! 5
html(lang="en", manifest="manifest.appcache")
  head
    meta(charset="UTF-8")

    title ROTOGAMEsq

    meta(name="description", content=description)
    meta(name="author", content=author)
    link(rel="author", href=repository.url)
    link(rel="shortcut icon", href="/images/icon_16.png")

    if env == 'development'
      link(rel="stylesheet", href="/app/stylesheets/index.css")
      script(src="/socket.io/socket.io.js")
      script(data-main="/app/client/main", src="/app/client/vendor/require.js")
    else
      link(rel="stylesheet", href="/app.build/stylesheets/index.css")
      script(src="/socket.io/socket.io.js")
      script(src="/app.build/client/main.js")

    meta(name="HandheldFriendly", content="True")

    //- For iOS: disables zoom, enables optional full screen, specifies icon
    meta(name="viewport",
         content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    link(rel="apple-touch-icon-precomposed", href="/images/icon_256.png")

    include google_analytics.html

  body
    h1(id="title")
      | ROTOGAME
      em sq

    #display
      canvas(id="tilesCanvas")
      canvas(id="arrowCanvas")
      canvas(id="rotAnimCanvas")
      canvas(id="rubberBandCanvas")

    #boardsNavigator

    #rotationsNavigator
      span.undo.button.disabled ↶
      span#nRotations
      span.redo.button.disabled ↷

    #hiscoresTableGroup
      table
        tbody
      table.cont
        tbody

    #loadScreen
      div
        div.spinner
