//- Copyright 2012 Felix E. Klee <felix.klee@inka.de>
//-
//- Licensed under the Apache License, Version 2.0 (the "License"); you may not
//- use this file except in compliance with the License. You may obtain a copy
//- of the License at
//-
//-   http://www.apache.org/licenses/LICENSE-2.0
//-
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
//- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
//- License for the specific language governing permissions and limitations
//- under the License.

!!! 5
html(lang="en")
  head
    meta(charset="UTF-8")

    title ROTOGAMEsq

    link(rel="stylesheet", href="/stylesheets/reset.css")
    link(rel="stylesheet", href="/stylesheets/index.css")
    link(rel="shortcut icon", href="/images/favicon.gif")

    script(data-host="http://localhost", src="/socket.io/socket.io.js",
           id="socketIoScript")
    script(data-main="client/game", src="/client/vendor/require.js")

    meta(name="HandheldFriendly", content="True")

    //- For iOS: disables zoom, enables optional full screen.
    meta(name="viewport",
         content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")

    include google_analytics.html

  body
    h1(id="title")
      | ROTOGAME
      em sq

    #display
      canvas(id="tilesCanvas")
      canvas(id="arrowCanvas")
      canvas(id="rotAnimCanvas")
      canvas(id="rubberBandCanvas")

    #boardsNavigator

    #rotationsNavigator
      span.undo.button.disabled ↶
      span#nRotations
      span.redo.button.disabled ↷

    #hiscoresTableGroup
      table
        tbody
      table.cont
        tbody

    #loadScreen
      div
        #spinner
