!!! 5
html(lang="en")
  head
    meta(charset="UTF-8")

    title Open Web App Installer

    script(src="/javascripts/install_webapp.js")

  body
    p
      | Page for installation of ROTOGAMEsq as 
      a(href="https://developer.mozilla.org/en-US/docs/Apps") Open Web App
      | , primarily for testing.
    p
      button#installButton Install